.message {
    display: flex;
    align-items: center;
    padding: 20px;
}

.message-text {
    margin-left: 10px;
    background-color: lightsalmon;
    padding: 15px;
    border-radius: 30px;
    color: whitesmoke;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.title {
    text-align: center;
    padding: 20px;
    color: salmon;
}

.text-user {
    margin-left: auto;
    background-color: lightgray;
    padding: 15px; 
    border-radius: 30px;
    color: white;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.input {
    display: flex;
    padding: 5px;
    /* with position fixed and bottom 0 will stick to bottom */
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightsalmon;
}

.message-show .input-field {
    flex: 1;
    padding: 10px;
    border: none;
}

.input-button {
    border: none;
    margin-right: 20px;
    background-color: whitesmoke;
    font-weight: bolder;
    color: lightsalmon
}